<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>ADMISSION PROCEDURE</h1>
  <%= link_to "Register new Applicants", new_student_path, class: "btn btn-large btn-primary" %>
</div>
<p><center>
    Click here to know about the admission procedure guidelines.
    <%= link_to  "Admission procesedure guidelines","http://kvsanghatan.nic.in/" %>
</p></center>
