@import "bootstrap";
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h5{
  float: left;
  font-size: 30px;
  color: #0044cc;
  padding-top: 19px;
  margin-right: 10px;			
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h5:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.gender{
display: inline;
}
